# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode build artifacts
build/
DerivedData/
*.ipa
*.dSYM
*.dSYM.zip
*.xcarchive

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Xcode user-specific data
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/
*.xcuserstate

# Xcode local settings
*.moved-aside
*.xcscmblueprint
*.xccheckout

# Fastlane and crash logs
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
*.crash

# Temporary and editor files
*.swp
*.swo
*~
